*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
#review{
    width: 100%;
    padding: 70px 0;
    background: linear-gradient(#fff,#1743e3);
}
.title-text{
    text-align: center;
    padding: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #1743e3;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#1743e3,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 50px;
}
.review-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.review-col{
    background-color: #f0efef;
    flex-basis: 28%;
    padding: 10px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 20px #0f0f0f14;
    cursor: pointer;
    transition: transform .5s;
}
.review-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa{
    margin-left: 10px;
    color: #1743e3;
}
.user-info small{
    color: #1743e3;
}
.review-col:hover{
    transform: translateY(-7px);
}